<!DOCTYPE html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>MyItinerary</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="Header">My Itinerary</div>
        <div id="Body">
            <!--search sidebar-->
            <div id="Sidebar">
                <div style="margin-top: 10px;">
                    <button class="button-onekey" onclick="One_key_example();">一鍵行程</button>
                </div>
                <div style="height: 50px; text-align: center; 
                            padding: 15px 32px;                            
                            text-align: center;
                            text-decoration: none;
                            font-size: 24px;">
                            篩選條件
                </div>
                <div style="margin-top: 10px; display: block;" >
                    <!--行程風格-->
                    <span>
                        <button id="itinerary_style_btn" class="button" onclick="menuBtnClicked(this);">行程風格</button>
                        <div id="menu1" class="menu" disply="flex">
                            <div style="text-align: center; flex: none; width: 50%;" >
                                <h2>參與人數</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">一人</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">雙人</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">三人</label></li>
                                    <li><input type="checkbox" name="4"><label for="3">四人</label></li>
                                    <li><input type="checkbox" name="5"><label for="3">五人以上</label></li>
                                </ul>
                            </div>
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>組合</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">景點</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">響食</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">娛樂</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--景點-->
                    <span>
                        <button id="attractions_btn" class="button" onclick="menuBtnClicked(this);">景點</button>
                        <div id="menu2" class="menu" disply="flex">
                            <div style="text-align: center; flex: auto; width: 100%;">
                                <h2>喜愛</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">景點1</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">景點2</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">景點3</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">景點4</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">景點5</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--享食-->
                    <span>
                        <button id="food_btn" class="button" onclick="menuBtnClicked(this);">享食</button>
                        <div id="menu3" class="menu" disply="flex">
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>類型</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">台式</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">日式</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">意式</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">法式</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">速食</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">異國</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">素食</label></li>
                                </ul>
                            </div>
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>價位</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">$</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">$$</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">$$$</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">$$$$</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--娛樂-->
                    <span>
                        <button id="entertainment_btn" class="button" onclick="menuBtnClicked(this);">娛樂</button>
                        <div id="menu4" class="menu" disply="flex">
                            <div style="text-align: center; flex: auto; width: 100%;">
                                <h2>類型</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">電影</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">購物</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">浪漫</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">運動</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">派對</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--距離-->
                    <span>
                        <button id="distance_btn" class="button" onclick="menuBtnClicked(this);">距離</button>
                        <div id="menu5" class="menu" disply="flex">
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>地理</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">短</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">中</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">長</label></li>
                                </ul>
                            </div>
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>交通</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="1"><label for="1">0~10 分</label></li>
                                    <li><input type="checkbox" name="2"><label for="2">10~30 分</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">30~60 分</label></li>
                                    <li><input type="checkbox" name="3"><label for="3">60 分以上</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--其他-->
                    <button class="button" onclick="menuBtnClicked(this);">其他</button>

                    <script>
                        function menuBtnClicked(elem){
                            let menu
                            if (elem.id == "itinerary_style_btn") {
                                menu = document.querySelector("#menu1");
                            }
                            else if (elem.id == "attractions_btn") {
                                menu = document.querySelector("#menu2");
                            }  
                            else if (elem.id == "food_btn") {
                                menu = document.querySelector("#menu3");
                            }
                            else if (elem.id == "entertainment_btn") {
                                menu = document.querySelector("#menu4");
                            }
                            else if (elem.id == "distance_btn") {
                                menu = document.querySelector("#menu5");
                            }

                            // if (menu.style.transform == "none") {  
                            //     menu.style.transform="translate(-100%, 0)";
                            // }
                            // else {
                            //     menu.style.transform="none";
                            // }

                            if (menu.style.visibility == "visible") {  
                                menu.style.visibility="hidden";
                            }
                            else {
                                menu.style.visibility="visible";
                            }
                        }
                    
                    </script>
                    <script>
                        function One_key_example() {
                            // 文字搜尋
                            search_requests = "https://maps.googleapis.com/maps/api/place/textsearch/json?"
                            parameters = "location=22.997409807642487%2120.22060180281467&query=restaurants"
                            MY_API_KEY = "&key=AIzaSyAh-z7VrAeBlt_2IGCJWMlSQOUtWndj3pA"
                            url = search_requests + parameters + MY_API_KEY

                            // 地點 detail
                            detail_requests = "https://maps.googleapis.com/maps/api/place/details/json?"
                            parameters = "fields=name%2Crating%2Cformatted_phone_number&place_id=ChIJN1t_tDeuEmsRUsoyG83frY4"
                            url = detail_requests + parameters + MY_API_KEY

                            // var axios = require('axios');

                            // var config = {
                            //     method: 'get',
                            //     url: search_requests,
                            //     headers: { }
                            // };

                            // axios(config).then(function (response) {
                            //     console.log(JSON.stringify(response.data));
                            // })
                            // .catch(function (error) {
                            //     console.log(error);
                            // });
                            fetch(url)
                            .then(res => res.json())
                            .then((data) => {

                                console.log(data);
                            }).catch(err => console.error(err));

                            
                        }
                    </script>
                </div>
            </div>
            <!--itinerary choose sidebar-->
            <div id="Sidebar">
                <div style="height: 50px; text-align: center;
                            padding: 15px 32px;                            
                            text-align: center;
                            text-decoration: none;
                            font-size: 24px;">
                            行程推薦
                </div>
                <!--itinerary choice-->
                <div  style="margin-top: 10px;"> 
                    <div class="itinerary-choice-block" style="line-height: 150px;" type="button" onclick="itinerary1()";>itinerary 1</div>
                    <div class="itinerary-choice-block" style="line-height: 150px;">itinerary 2</div>
                    <div class="itinerary-choice-block" style="line-height: 150px;">itinerary 3</div>
                </div>
            </div>
            <script>
                function itinerary1(){
                    let detail = document.querySelector('[data-target="detail"]')
                    
                    if (detail.style.visibility=="visible") {
                        detail.style.visibility="hidden";
                    }
                    else {
                        detail.style.visibility="visible";
                    }
                }
            </script>

            <!--itinerary detail sidebar-->
            <div id="Sidebar">
                <span style="display: flex; width: 100%; align-items: center;">               
                    <!-- title -->
                    <div style="flex: auto; width: 40%;
                                height: 50px;
                                padding: 15px 32px;                            
                                text-align: center;
                                text-decoration: none;
                                font-size: 24px;">
                                行程內容
                    </div>
                    <div style="flex: auto;">
                        <button id="store_btn" class="button-store">儲存</button>
                    </div>
                </span>
                <!--itinerary detail -->
                <div style="margin-top: 10px; visibility: hidden;" data-target="detail"> 
                    <div class="location-block">location example</div>
                    <div class="transport-block">transport example</div>
                    <div class="location-block">location example</div>
                </div>
            </div>
            <!-- google map space-->
            <div id="Map"></div>
            <script>
                function initMap() {
                    var chengkungCS = {lat: 22.997409807642487, lng: 120.22060180281467};
                    var map = new google.maps.Map(document.getElementById('Map'), {
                        zoom: 15,
                        center: chengkungCS 
                    });
                    var marker = new google.maps.Marker({
                        position: chengkungCS,
                        map: map
                    });
                }
            </script>
            <script async defer
                MY_API_KEY = "AIzaSyAh-z7VrAeBlt_2IGCJWMlSQOUtWndj3pA"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh-z7VrAeBlt_2IGCJWMlSQOUtWndj3pA&callback=initMap">
            </script>
        </div>
    </body>
</html>