<!DOCTYPE html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>MyItinerary</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
            
    </head>
    <body>
        <script language="JavaScript" type="text/javascript" src="{{  url_for('static', filename='script.js') }}"></script>
        <div id="Header">My Itinerary</div>
        <div id="Body">
            <!--search sidebar-->
            <div id="Sidebar">
                <div style="margin-top: 10px;">
                    <button class="button-onekey" onclick="search()">一鍵行程</button>
                </div>
                <div style="height: 50px; text-align: center; 
                            padding: 15px 32px;                            
                            text-align: center;
                            text-decoration: none;
                            font-size: 24px;">
                            篩選條件
                </div>
                <div style="margin-top: 10px; display: flex; flex-direction: column;" >
                    <!--行程風格-->
                    <span>
                        <button id="itinerary_style_btn" class="button" onclick="menuBtnClicked(this);">行程風格</button>
                        <div id="menu1" class="menu" disply="flex">
                            <div style="text-align: center; flex: none; width: 50%;" >
                                <h2>參與人數</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="one"><label for="1">一人</label></li>
                                    <li><input type="checkbox" name="requirement" value="two"><label for="2">雙人</label></li>
                                    <li><input type="checkbox" name="requirement" value="three"><label for="3">三人</label></li>
                                    <li><input type="checkbox" name="requirement" value="four"><label for="3">四人</label></li>
                                    <li><input type="checkbox" name="requirement" value="five"><label for="3">五人以上</label></li>
                                </ul>
                            </div>
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>組合</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="attractions"><label for="1">景點</label></li>
                                    <li><input type="checkbox" name="requirement" value="food"><label for="2">響食</label></li>
                                    <li><input type="checkbox" name="requirement" value="entertainment"><label for="3">娛樂</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--景點-->
                    <span>
                        <button id="attractions_btn" class="button" onclick="menuBtnClicked(this);">景點</button>
                        <div id="menu2" class="menu" disply="flex">
                            <div style="text-align: center; flex: auto; width: 100%;">
                                <h2>喜愛</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="臺南市美術館2館"><label for="1">臺南市美術館2館</label></li>
                                    <li><input type="checkbox" name="requirement" value="安平古堡"><label for="2">安平古堡</label></li>
                                    <li><input type="checkbox" name="requirement" value="赤崁樓"><label for="3">赤崁樓</label></li>
                                    <li><input type="checkbox" name="requirement" value="藍晒圖文創園區"><label for="4">藍晒圖文創園區</label></li>
                                    <li><input type="checkbox" name="requirement" value="南紡購物中心"><label for="5">南紡購物中心</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--享食-->
                    <span>
                        <button id="food_btn" class="button" onclick="menuBtnClicked(this);">享食</button>
                        <div id="menu3" class="menu" disply="flex">
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>類型</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="taiwanese"><label for="1">台式</label></li>
                                    <li><input type="checkbox" name="requirement" value="japanese"><label for="2">日式</label></li>
                                    <li><input type="checkbox" name="requirement" value="italian"><label for="3">意式</label></li>
                                    <li><input type="checkbox" name="requirement" value="french"><label for="4">法式</label></li>
                                    <li><input type="checkbox" name="requirement" value="fast food"><label for="5">速食</label></li>
                                    <li><input type="checkbox" name="requirement" value="exotic"><label for="6">異國</label></li>
                                    <li><input type="checkbox" name="requirement" value="vegetarian"><label for="7">素食</label></li>
                                </ul>
                            </div>
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>價位</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="low"><label for="1">$</label></li>
                                    <li><input type="checkbox" name="requirement" value="normal"><label for="2">$$</label></li>
                                    <li><input type="checkbox" name="requirement" value="medium"><label for="3">$$$</label></li>
                                    <li><input type="checkbox" name="requirement" value="high"><label for="3">$$$$</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--娛樂-->
                    <span>
                        <button id="entertainment_btn" class="button" onclick="menuBtnClicked(this);">娛樂</button>
                        <div id="menu4" class="menu" disply="flex">
                            <div style="text-align: center; flex: auto; width: 100%;">
                                <h2>類型</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="moive"><label for="1">電影</label></li>
                                    <li><input type="checkbox" name="requirement" value="shopping"><label for="2">購物</label></li>
                                    <li><input type="checkbox" name="requirement" value="romance"><label for="3">浪漫</label></li>
                                    <li><input type="checkbox" name="requirement" value="sporys"><label for="3">運動</label></li>
                                    <li><input type="checkbox" name="requirement" value="party"><label for="3">派對</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--距離-->
                    <span>
                        <button id="distance_btn" class="button" onclick="menuBtnClicked(this);">距離</button>
                        <div id="menu5" class="menu" disply="flex">
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>地理</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="close"><label for="1">短</label></li>
                                    <li><input type="checkbox" name="requirement" value="middle"><label for="2">中</label></li>
                                    <li><input type="checkbox" name="requirement" value="far"><label for="3">長</label></li>
                                </ul>
                            </div>
                            <div style="text-align: center; flex: none; width: 50%;">
                                <h2>交通</h2>
                                <ul class="list">
                                    <li><input type="checkbox" name="requirement" value="short"><label for="1">0~10 分</label></li>
                                    <li><input type="checkbox" name="requirement" value="half"><label for="2">10~30 分</label></li>
                                    <li><input type="checkbox" name="requirement" value="long"><label for="3">30~60 分</label></li>
                                    <li><input type="checkbox" name="requirement" value="hourup"><label for="3">60 分以上</label></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!--金額-->
                    <span style="display: flex; justify-content: center; margin: 20px">
                        <div style="margin: 0px 10px 0px 10px; ">預算:</div>
                        <label id="slider-value" style="width:20%; border: 1px solid black">1000</label>
                    </span>
                    <span>
                        <input type="range" id="money-slider" min="1000" max="10000" step="500" value="1000" oninput="show_money_slider_value(this)"/>
                    </span>    
                </div>
            </div>
            <!--itinerary choose sidebar-->
            <div id="Sidebar">
                <div style="height: 50px; text-align: center;
                            padding: 15px 32px;                            
                            text-align: center;
                            text-decoration: none;
                            font-size: 24px;">
                            行程推薦
                </div>
                <!--itinerary choice-->
                <div  style="margin-top: 10px;"> 
                    <div class="itinerary-choice-block" style="line-height: 150px;" type="button" onclick="show_itinerary(this)" value="0">推薦行程 1</div>
                    <div class="itinerary-choice-block" style="line-height: 150px;" type="button" onclick="show_itinerary(this)" value="1">推薦行程 2</div>
                    <div class="itinerary-choice-block" style="line-height: 150px;" type="button" onclick="show_itinerary(this)" value="2">推薦行程 3</div>
                </div>
            </div>
            

            <!--itinerary detail sidebar-->
            <div id="Sidebar">
                <span style="display: flex; width: 100%; align-items: center;">               
                    <!-- title -->
                    <div style="flex: auto; width: 40%;
                                height: 50px;
                                padding: 15px 32px;                            
                                text-align: center;
                                text-decoration: none;
                                font-size: 24px;">
                                行程內容
                    </div>
                    <!-- <div style="flex: auto;">
                        <button id="store_btn" class="button-store">儲存</button>
                    </div> -->
                </span>
                <!--itinerary detail -->
                <div style="margin-top: 10px; visibility: visible;" data-target="detail" id="detail"> 

                </div>
            </div>
            <!-- google map space-->
            <div id="Map"></div>
            <script>
                function initMap() {
                    var chengkungCS = {lat: 22.997409807642487, lng: 120.22060180281467};
                    var map = new google.maps.Map(document.getElementById('Map'), {
                        zoom: 15,
                        center: chengkungCS 
                    });
                    var marker = new google.maps.Marker({
                        position: chengkungCS,
                        map: map
                    });
                }
                function route(fname){
                    var map = new google.maps.Map(document.getElementById('Map'), {
                        zoom: 15,
                    });
                    var directionsService = new google.maps.DirectionsService();
                    var directionsRenderer = new google.maps.DirectionsRenderer();



                    $.ajax({
                        url: '/show/map_detail',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({"fname": fname}),
                        success: function(data){
                            let request = {
                                origin: {placeId: data.ori},
                                waypoints: [{stopover: true,
                                            location: {'placeId': data.wayps[0]}},
                                            {stopover: true,
                                            location: {'placeId': data.wayps[1]}},
                                            {stopover: true,
                                            location: {'placeId': data.wayps[2]}}],
                                destination: {placeId: data.des},
                                travelMode: 'WALKING'
                            };

                            directionsRenderer.setMap(map);
                            directionsService.route(request, function(response, status) {
                                if (status == 'OK') {
                                    directionsRenderer.setDirections(response);
                                }
                            });
                        },
                        error:function(err){console.log(err)},
                    });
                }
            </script>
            {% if initMap == undefined %}
            <script
                MY_API_KEY = "AIzaSyAh-z7VrAeBlt_2IGCJWMlSQOUtWndj3pA"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh-z7VrAeBlt_2IGCJWMlSQOUtWndj3pA&callback=initMap">
            </script>
            {% else %}
            <script
                MY_API_KEY = "AIzaSyAh-z7VrAeBlt_2IGCJWMlSQOUtWndj3pA"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh-z7VrAeBlt_2IGCJWMlSQOUtWndj3pA&callback=route">
            </script>
            {% endif %}
        </div>
        
    </body>
</html>